@media (min-width:320px) and (max-width:480px){
    body{
        background-color: rgb(4, 1, 8);
        color: white;
        font-family: Arial, Helvetica, sans-serif;
   /* style.css */

.container {
    text-align: center; /* Centers content within the container */
}

.laptop-image, .hello-image {
    width: 100%;
    margin-bottom: 20px;
}
.laptop-image img {
    max-width: 100%;
    height: auto; 
}

.about-me {

    text-align: center;
}

.about-me-text {
    color: #007acc;
}

.profile-section {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically aligns items in the flex container */
    margin: none;
    padding: none; 
}

.profile-image {
    background-color: #dbdfe2;
    border-radius: 50%;
    width: 300px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    overflow: hidden; /* Ensures image fits within the circle */
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Makes sure the image covers the whole area */
}

.profile-details {
    border-left: 5px solid #007acc;
    padding-left: 20px;
    margin-left: 20px;
    text-align: left; 
}

.keyword {
    color: #d4d4d4;
}

.variable {
    color: #4ec9b0;
}

.operator {
    color: #dcdcdc;
}

.string {
    color: #ce9178;
}

.array-item {
    padding-left: 40px;
}

.company-logos {
    margin-top: 20px;
}

.company-logos img {
    max-width: 150px; /* Adjust as needed */
    margin: 0 10px; /* Adds spacing between logos */
}

.placeholder-logo {
    background-color: transparent; 
    width: 100px; /* Maintain space for the placeholder */
    height: 100px; ; /* Maintain space for the placeholder */
    border: 1px dashed gray; /* Optional: Visual indication of placeholder */
}
    }
}